* {
    padding: 0px;
    margin: 0px;
    border: none;
}

/* DROPDOWN MENU */

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blueviolet;
}

.menu-btn {
    /* border: 1px solid black; */
    width: 48px;
    height: 48px;
    padding: 0;
    margin-left: auto;
    border-radius: 50%;
    background-image: url(../assets/menu_btn.png);
}

.menu {
    position: absolute;
    padding: 25px;
    top: calc(100% + 5px);
    right: 10px;
    width: 180px;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.3s;
}

nav {
    background-color: blueviolet;
}

.menu.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.menu-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    /* font-weight: 500;  */
    color: rgb(2, 1, 5);
    cursor: pointer;
    border: 0.5px solid rgb(255, 255, 255);
}

.menu-item:nth-child(n + 2) {
    margin-top: 15px;
}

/* .menu::before,
.menu::after {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    right: 15px;
    border: 5px solid transparent;
} */

.menu::before {
    top: -20px;
    border-bottom: 10px solid yellow;
}

.menu::after {
    top: -19px;
    border-bottom: 10px solid green;
}
